@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
body{font-family: "Orbitron", sans-serif;}

.contanier{height: 100vh;background-color: rgba(0, 0, 0, 0.9);}

.box{width: 340px;height: 590px;background-color: #fff;position: absolute;top: 50px;left: 0;right: 0;margin: 0 auto;border-radius: 15px;box-shadow: 10px 10px 30px rgba(0,0,0,0.1);box-sizing: border-box;padding: 30px;}/*자동여백이잡히면서 가운데정렬이 되는 트릭 0,0처리에 마진값*/
.menu{display: flex;justify-content: space-between;font-size: 22px;}
.contanier figure{text-align: center;}/*이미지정렬용도*/
.contanier figure img{width: 200px;height: 200px;border-radius: 50%;box-shadow: 10px 15px 30px rgba(102, 102, 102, 0.8);}

.contanier h1{text-align: center;font-size: 20px;margin-top: 15px ;color: #555;}
.contanier p{font-size: 12px;color: #999;text-align: center;line-height: 200%;}
.but{width: 180px;height: 32px; border-radius: 20px;background-color: rgb(255, 255, 255);color: #fff; display: block; margin: 20px auto; background: linear-gradient(45deg,#c4c4c4,#424242);
font-size: 10px;box-shadow: 10px 15px 30px rgba(27, 27, 27, 0.8)}
.list{margin: 30px 0; line-height: 300%;font-size: 14px;color: #666;}
.list>li{border-bottom: 1px solid #eee;}
.list>li>i{margin-right: 15px;}



.pages{display: flex;justify-content: space-evenly;}
.pages>li>a{display: block;width: 25px;height: 25px;background-color: #ddd;border-radius: 50%;}
.pages>li:nth-child(1)>a{background-color: rgb(70, 70, 70);box-shadow: 5px 5px 10px rgba(34, 34, 34, 0.8)}
.pages>li:nth-child(2)>a{background-color: rgb(243, 168, 56);box-shadow: 5px 5px 10px rgb(243, 168, 56, 0.8)}
.pages>li:nth-child(3)>a{background-color:rgb(255, 0, 0);box-shadow: 5px 5px 10px rgb(255, 0, 0, 0.8)}
.pages>li:nth-child(4)>a{background-color:  rgb(0, 19, 141);box-shadow: 5px 5px 10px  rgba(0, 4, 29, 0.8);}


.popup{position: fixed;z-index: 10; background-color: #000;border: 1px solid #fff; left: 0;right: 0;top: 10%;margin: auto; max-width: 800px;padding: 30px;border-radius: 30px;}
.close{position: absolute;right: 0;top: 0;font-size: 30px;width: 30px;line-height: 50px; border-radius: 10px;background-color: red; color: #fff; border: 1px solid #eee;}
.popup iframe{width: 100%;height: 500px;}
